name: pylint
on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.11'

            - name: Install Poetry
              run: pipx install poetry

            - name: Install dependencies
              run: poetry install --no-root

            - name: Run Pylint
              run: poetry run pylint --recursive=y .
